

* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    background-color: black;
    display: flex;
    align-items: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 8%;
}

header i{
font-size: 2.5vw


}

header ul {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    list-style: none !important;
}

header a {
    cursor: pointer;
    position: relative !important;
    text-decoration: none;
    color: #f6f6f6;
    font-size: 2vw;
}

.logo {
    margin-left: 5%;
    margin-right: 25%;
    height: 8%;
    width: 10%;
    transform: translateY(-2.5vh);
}
.logo img {
    height: 7vh;
    

}

.btlog {
    margin-right: 5%;
    margin-left: 25%;
   
    margin-top: 1vw;
}



/* Configuração da linha sublinhada antes da transição */
header .nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color:#ffff8a;
    z-index: 9999;
    transition: width 0.3s ease;
    /* Tempo e tipo de transição */
}

/* Estilo ao passar o cursor */
header .nav:hover::after {
    width: 100%;
    /* Expande a linha no hover */
}

header a .login {
    background-color: red;
}