:root{
    --primary: #111111
    --secondary: #ffff8a
    --br: #f5f5f5
    }
    


body{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
background-color: #111111;
}

.login{
width: 25%;
border: solid 1px #ffff8a;
height: 40vh;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
color: #f5f5f5;
border-radius: 1vw;
overflow: hidden;
text-align: center;
}
.login h2{
transform: translateY(-7vh);
font-size: 4vh;
}
.login .formulario{
height: 10vh;
width: 100%;
display:flex ;
flex-direction: column;
justify-content: space-around;
}
.login .formulario .campo{
font-size: 3vh;
display: flex;
justify-content: space-around;
}
.login .formulario .campo input{
height: 3vh;
width: 60%;
font-size: 2.5vh;
border-radius: 2vw;
padding-inline: 1vh;
}
.logar{
transform: translate(11vw,8vh);
}
.cadastro{
  transform: translate(-11vw,8vh);
}

.botao{
  background-color:  #4169E1;
  width: 40%;
  height: 3vw;
  border-radius: 4vw;
  font-size: 2vh;
cursor: pointer;
}
.botao:hover{
  box-shadow: 0px 0px 0.5vw #ffff8a;
  border: none;
}

.campo {
display: flex;
}

.loading-div {
    width: 50px;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
  
  #div_erros_login {
    display: none
  }
  #mensagem_erro{
position: absolute;
right: 15vw;
width: 15%;
background-color: #f5f5f5;
color: black;
border-radius: 1vw;
border: solid 1px #ffff8a;
  }