
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



body {

    
    background: linear-gradient(45deg, #0a0a0a, #1a1a1a, #2a2a2a);
    animation: backgroundAnimation 10Ws ease-in-out infinite alternate;
    background-size: 200% 200%;
   
    animation: backgroundAnimation 8s ease-in-out infinite;
   
    font-family: Arial, sans-serif;
   
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 6px rgba(255, 255, 139, 1);
    backdrop-filter: blur(50px);
    padding: 30px;
    border-radius: 4%;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white !important;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #ffffb8 !important;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3 ease-in-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 2px solid white;
}

.label-float label {
    color: white;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-in-out;
}

.label-float input:focus+label,
.label-float input:valid+label {
    font-size: 13px;
    margin-top: 0;
    color: #ffff8b;
}

button {
    background-color: transparent;
    border-color: white;
    color: white;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-in-out;
}

button:hover {
    background-color: #ffff9d !important;
    color: #ddd ;
}

.justify-center {
    display: flex;
    justify-content: center;

}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;

}

p {
    color: white;
    font-size: 14pt;
    text-align: center;
}

a {
    color: #ffffb8;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ffff50;
    transition: all .3s ease-in-out;
}

.fa-eye {
    position: absolute;
    top: 18px;
    right: 10px;
    cursor: pointer;
    color: #fff;
}